@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .body {
        @apply relative min-h-screen bg-gradient-to-br from-slate-950 
        via-slate-700 to-slate-200 flex flex-col;
    }

    .button {
        @apply m-3 p-3 rounded-md bg-red-600 text-white;
    }

    .image {
        @apply rounded-lg peer-checked:opacity-50 z-0 w-full h-auto;
    }

    .image-container {
        @apply w-full h-auto;
    }

    .image-dropzone {
        @apply flex rounded-lg w-full h-auto hover:scale-105 duration-300 bg-white;
    }

    .image-grid {
        @apply grid px-5 py-5 max-w-3xl 
        rounded-lg bg-slate-300 sm:grid-cols-5 gap-4;
    }

    .featured-dropzone {
        @apply flex row-span-2 col-span-2 rounded-lg 
        h-auto w-full bg-white;
    }

    .checkbox {
        @apply m-4 w-4 h-4 absolute 
        invisible
        checked:visible
        group-hover:visible
        rounded-lg focus:outline-none
        hover:cursor-pointer;
    }
}
