@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  @apply relative min-h-screen bg-gradient-to-br 
  from-blue-950 via-blue-700 to-blue-200 flex flex-col
}

.img-card {
  @apply rounded-lg w-full bg-white
}

.img-grid {
  @apply grid mt-3 ml-20 mr-20 mb-10 px-5 py-5
  max-w-3xl 
  rounded-lg bg-blue-300 sm:grid-cols-5 gap-4
}

.featured-card {
  @apply flex row-span-2 col-span-2 rounded-lg 
  h-full w-full bg-transparent
}

.checkbox {
  @apply m-4 w-4 h-4 absolute 
  invisible
  checked:visible
  group-hover:visible
  rounded-lg focus:outline-none
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
